<li><%= link_to 'Sign In', '#signinModal', class: 'sign_link', data: { label: '#signinModal' } %></li>
<li><%= link_to 'Sign Up', '#signupModal', class: 'sign_link', data: { label: '#signupModal' } %></li>