<%= render partial: 'users/user_partials/hello_laptop' %>
<%= render partial: 'users/user_partials/competition_secret' %>
<%= render partial: 'users/user_partials/showcase_three' %>

<div id='showcase_four'>
	<i class='icon-bolt icon-large'></i>
	<h2>Simple, Business IT solutions,</h2>
	<p>that levergage people, not paper.</p>
	<br /><h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
	<div id='testit'>
    <div id='paperstack_img'>
    	<div id='laptop_img'>
      </div>
      <div class='laptop_window'>
      </div>
    </div>
  </div>
</div>