#banner {
	width: 100%;
	height: 526px;
	overflow: hidden;
	background-image: url(/assets/banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#logo-banner {
  width: 200px;
  height: 200px;
  background-image: url(/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: -24px;
  top: 19px;
}

#nav_bar {
	border: 0;
	background-color: #202020;
	border-radius: 0px;
	margin-bottom: 0;
	/*border-bottom: solid 2px #3498db;*/
	width: 100%;
}

.image_size {
	width: 100%;
	height: auto;
	position: relative;
	top: -100px;
}

#hero-banner {
	width: 500px;
	height: 300px;
	background-color: rgba(80,80,80,.6);
	position: absolute;
	top: 32px;
	right: 75px;
	border-radius: 6px;
	color: #F8F8F8 !important;
	padding: 20px;
  font-size: 35px;
}

#hero-banner h3 {
	font-size: 52px;
}

#hero-button {
  display: none;
  position: absolute;
 	right: 120px;
  top: 297px;
  background-color: #3498db;
}

/*The following is used for the Typed jquery plugin*/

  #typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }