.authorization {
	background-color: white;
	margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  border-radius: 8px;
	width: 285px;

}

.authorization a {
	text-decoration: none;
	text-align: center;
}

#signinModal {
	height: 262px;
}

#signupModal {
	width: 285px;
	height: 369px;
}

.authorization button {
	width: 246px;
}

.modal-body {
	padding-top: 10px;
}

.no_submit {
	background-color: rgba(120,0,0,.4) !important;
}

.ready_submit {
	background-color: #1abc9c;
}

.authorization input {
	width: 220px;
	margin-bottom: 5px;
}

#main_contianer {
  width: 90%;
  position: relative;
  left: 2%;
  min-width: 900px;
}

.modal-header {
  border-bottom: 1px solid #1abc9c !important;
  padding-bottom: 6px;
}

.modal-footer {
	padding: 10px 0;
	margin-top: 3px;
	height: 0;
}

input:webkit-autofill {
	background-color: #1abc9c !important;
}

.button_close {
	font-size: 13px !important;
	padding: 0 !important;
	width: 48px !important;
	height: 22px !important;
	float: right;
	position: relative;
	top: -30px;
}

.input_incorrect {
  border-color: rgba(120,0,0,.4) !important;
}

.input_correct {
  border-color: #1abc9c !important;
}

.tooltip_box {
	width: 17px !important;
	height: 25px !important;
	padding: 0 !important;
	float: right;
}

.tooltip {
	left: 39px !important;
}

.tooltip p {
	text-align: left !important;
}

.tooltip h6 {
	text-align: left !important;
}

.modal-backdrop.in {
  opacity: 0.8 !important;
}

.reg_errors {
  overflow: scroll;
  max-height: 310px;
	width: 269px;
	position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 156px;
	padding: 15px;
	color: red;
	border: solid 1px red;
	border-radius: 8px;
}

.reg_errors p {
	font-size: 12px;
}
