#showcase_two {
	width: auto;
	height: 800px;
	font-size: 20px;
	color: #202020;
	text-align: center;
  background-image: url(/assets/office_secret.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 56px;
s	/*padding-top: 118px;*/
}

#showcase_two i {
  font-size: 50px;
}

#side_menu {
  position: relative;
  height: 348px;
  width: 190px;
  border-radius: 6px;
  left: -167px;
  top: 0;
  padding-top: 12px;
  background: rgba(255, 252, 252, 0.79);
  border: solid 2px rgb(179, 173, 173);
}

#side_menu div {
	position: relative;
	left: -185px;
	margin: 8px;
	width: 180px;
	height: 50px;
  border: solid 2px rgb(179, 173, 173);
	border-radius: 6px;
	padding-top: 5px;
	padding-left: 50px; 
}

#side_menu h6 {
	margin: 2px;
	text-align: left;
}

#side_menu p {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#action_div {

text-align: left;
 border-radius: 6px;
/*	width: 420px;
	height: 320px;*/
	width: 0;
	height: 0;
	position: relative;
	left: 35%;
	/*left: 200px;*/
	top: -40%;
  background-color: rgba(86, 255, 79, 0.52);
  padding: 21px;
}

#side_menu h2 {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 10px;
}

#side_menu hr {
	margin: 0;
	border-top: 1px solid #9C9C9C;

}

#action_div .inner_div {
	width: 420px;
	height: 320px;
	border-radius: 6px;
	border: solid 1px #3498db;
	padding: 6px;
  background: rgba(255, 252, 252, 0.79);

}

#action_div .info_status {
	display: inline-block;
}

#action_div .info_status h2 {
  margin-top: 0;
  margin-left: 61px; 
  position: relative;
  top: -27px;
}

#action_div .user {
	text-align: center;
	color: #DBDBDB;
	width: 67px;
	height: 74px;
	border-radius: 6px;
	border: solid 1px #DBDBDB;
	display: inline-block;

}

#action_div .user i {
	font-size: 71px;
}

#action_div form {
	font-size: 14px !important;
	margin-top: 10px;
}


.div_text span {
	font-size: 12px;
}

