#showcase_three {
	border-top: 1px solid #ddd;
	width: auto;
	height: 1000px;
	font-size: 20px;
	color: #202020;
	text-align: center;
  padding-top: 56px;
  position: relative;
}

#showcase_three i {
  font-size: 30px;
}

#paperstack_img {
	width: 900px;
	height: 800px;
	margin-left: auto;
  margin-right: auto;
	font-size: 20px;
	color: #202020;
	text-align: center;
  background-image: url(/assets/paperstack_only.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 56px;
  z-index: 500;
}

#laptop_img {
	width: 500px;
	height: 800px;
	font-size: 20px;
	color: #202020;
	text-align: center;
  background-image: url(/assets/laptop_only.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 56px;
  position: relative;
  background-position: center;
  display: inline-block;
  z-index: 501;
  left: 186px;
  top: -4px;
}

#laptop_window_secondary {
	width: 336px;
	height: 207px;
	background-color: rgba(255,255,255, 0);
	position: absolute;
	left: 51.6%;
	top: 560px;
	z-index: 503;
}

#laptop_window_secondary p{
	margin-top: 23%;
	font-size: 40px;
}

#laptop_window_main {
  width: 336px;
	height: 207px;
	background-color: rgba(255,255,255, 0);
	position: absolute;
	left: 16.6%;
	top: 287px;
	z-index: 502;
}

#laptop_bullet {
	font-size: 20px !important;
	margin-top: -21px !important;
	color: #34495e !important;
}

#laptop_header {
	margin-top: 16%;
	color: #3498db;
	font-size: 80px;
}

#activate_laptop {
	width: 100%;
	height: 478px;
	position: absolute;
	top: 387px;
	z-index: 504;
}