#showcase_one {
	width: 1000px;
	height: 900px;
	margin-left: auto;
  margin-right: auto;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-image: url(/assets/laptopcycle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	padding-top: 68px;
}

#showcase_one_spacer {
  padding-top: 121px;
  background-color: rgba(122,144,187,0.71);
}

#showcase_one_header {
  position: relative;
  top: -150px;
}

#showcase_one i {
  font-size: 50px;
}

.company_name {
	color: #3498db;
}

.laptop_size {
	width: 100%;
	height: auto;
	position: relative;
	top: -100px;
	z-index: 0;
}

#showcaseone-infodiv {
  position: relative;
  width: 500px;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
  top: -39px;
  border-radius: 20px;
  padding: 30px;
/*  background-color: rgba(110, 119, 138, 0.71);
*/  font-size: 10px !important;
}