#showcase_one {
	width: 100%;
	height: 900px;
	margin-left: auto;
  margin-right: auto;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-image: url(/assets/laptopcycle.png);
  background-size: contain;
  background-repeat: no-repeat;
	padding-top: 118px;
}

#showcase_one_spacer {
  padding-top: 100px;
  background-color: rgba(122,144,187,0.71);
}

#showcase_one i {
  font-size: 50px;
}

.company_name {
	color: #3498db;
}

.laptop_size {
	width: 100%;
	height: auto;
	position: relative;
	top: -100px;
	z-index: 0;
}