// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginbox {
	width: 195px;
  margin-right: auto;
  margin-left: auto;
}

.header_name {
  display: inline-block !important;
  font-size: 30px;
  padding-top: 6px;
  padding-left: 20px;
}

.active_user {
	display: inline-block !important;
	position: relative;
	top: -3px;
	font-size: 14px;
}

.header_name a {
  text-decoration: none;
  color: #526476;
}

.active_user span {
  color: #1A8BBC;
}

ul {
	display: inline-block !important;
	float: right;
	margin-right: 30px !important;
}

.nav li {
	display: inline-block;
}

.nav li a {
	padding: 15.5px !important;
	text-decoration: none;
}