<div id='comp_modal' style="display: none;">
  <h2>Web Applications</h2>
    <hr />
    <h6>what they can do for you...</h6>
    <ul>
      <li>- No licensing fees - <span>You Own It!</span></li>
      <li>- Update software as needed</li>
      <li>- Crafted to reduce workload</li>
      <li>- Increase Company cooperation</li>
      <li>- Define your own security levels</li>
      <li>- Updated data is distributed immediently</li>
      <li>- Elimnate paper</li>
      <li>- Not OS dependant - <span>Run on any computer</span></li>
      <li>- Reduce headcount</li>
      <li>- Increase Company efficiency</li>
      <li>- Run it offsite - <span>Using the Web</span></li>
    </ul>
  
</div>