<div id='showcase_two'>

	  <i class='icon-laptop icon-large'></i>
	  <h2>Your Competition has a Secret...</h2>
		<p>they're using custom built software to drive their business.</p>
		<br /><h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
  <div id='side_menu'>
  	<div style='background-color: rgba(86, 255, 79, 0.52);'><h6>New Client</h6><p>Need call back and contact information</p></div>
  	<div style='background-color: rgba(86, 255, 79, 0.52);'><h6>New Order</h6><p>Review order information and send confirmation</p></div>
   	<div style='background-color: rgba(86, 255, 79, 0.52);'><h6>New Customer</h6><p>Looking for a new commercial lodation</p></div>
  	<div style='background-color: rgba(255, 255, 53, 0.52);'><h6>Updated Order</h6><p>Corrected design of product size and color</p></div>
  	<div style='background-color: rgba(255, 82, 82, 0.52);'><h6>Alert!</h6><p>All orders now need full signatures before submission</p></div>
    <br clear="all">
    </div>
    <div id='action_div'></div>
</div>