<div id='footer'>
  <h4>Hello there you good lookin</h4>
  <p>something about something should go here</p>
  <i>a horse is a horse of course</i>
  <div id='footer_icons'>
  	<a href='https://twitter.com/BeSimplizIT' class='icon-twitter-sign'></a>
  	<a href='https://www.facebook.com/BeSimplizIT' class='icon-facebook-sign'></a>
  	<a href='https://github.com/SimplizIT' class='icon-github'></a>
  </div>
  <p id='footer_bottom'><i>SimplizIT Simple Business IT Solutions, LLC. Copyright 2013.  All rights reserved.</i></p>
</div>

