<div id='showcase_three'>
	<i class='icon-th'></i>
	<h2>Simple, Business IT solutions,</h2>
	<p>that levergage people, not paper.</p>
	<br /><h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
    <div id='paperstack_img'>
    	<div id='laptop_img'>
      </div>
      <div class='laptop_window'>
      </div>
    </div>
</div>