<div id='showcase_two'>

	<i class='icon-laptop icon-large'></i>
	<h2>Your Competition has a Secret...</h2>
	<p>they're using custom built software to drive their business.</p>
	<br />
	<h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
  <div id='secret_wrapper'>
		<div id='side_menu'>
			<h2>Notification Center</h2>
			<hr />
		</div>

		<div id='action_div' style='display: none;'>
		  <div class='inner_div'>
			  <div class='user'>
				  <i class='icon-shopping-cart'></i>
			  </div>
	      <h3>Custom Built Forms</h3>
	      <hr id='hr_spacer'/>
			  <form class='info_status'>
			  	<label>Contact Information</label><br />
			  	<input style="display: inline; width: 150px;" value="Name"><br />

	        <input style="display: inline; width: 300px;" value="Street Address">
	        <input style="display: inline; width: 50px;" value="City">
	        <input style="display: inline; width: 50px;" value="State">
	        <input style="display: inline; width: 50px;" value="Zip"><br />

	        <input style="display: inline; width: 143px;" value="Email">
	        <input style="display: inline; width: 150px;" value="Phone"><br />

	        <label style='margin-top: 13px;'>Order Information</label><br />
				  <input style="display: inline; width: 115px;" value="Product Number">
				  <input style="display: inline; width: 180px;" value="Description">
				  <input style="display: inline; margin-left: 40px; width: 60px;" value="Price">
	        <input style="display: inline; width: 60px;" value="Amount"><br />
	        <input style="display: inline; width: 115px;" value="Product Number">
	        <input style="display: inline; width: 180px;" value="Description">
				  <input style="display: inline; margin-left: 40px; width: 60px;" value="Price">
	        <input style="display: inline; width: 60px;" value="Amount"><br />
	        <input style="display: inline; width: 150px; margin-top: 14px;" value="Order Number"><span style='color: rgba(235, 46, 121, 0.8)'> - Go ahead and submit this form! --></span>
	        <button class='btn btn-primary'>Submit</button>
			  </form>
		  </div>
	  </div>
	</div>
</div>

