<div id='showcase_one_spacer'>
  <div id='showcase_one'>
    <div id='showcase_one_header'>
  	  <i class='icon-bolt icon-large'></i>
  	  <h2>Simple, Business IT solutions,</h2>
  		<p>that levergage people, not paper.</p>
      <h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
    </div>
  </div>
</div>