<div id='showcase_two'>

	<i class='icon-laptop icon-large'></i>
	<h3>Your Competition has a Secret...</h3>
	<p>they're using custom built software to drive their business.</p>
	<h6>— We like to call it being <span class='company_name'>SimplizIT</span> —</h6>

  <div id='secret_wrapper'>
		<div id='side_menu'>
			<h2>Notification Center</h2>
			<hr />
		</div>

		<div id='action_div' style='display: none;'>
		  <div class='inner_div'>
			  <div class='user'>
				  <i class='icon-shopping-cart'></i>
			  </div>
	      <h5>Custom Built Forms</h5>
	      <hr id='hr_spacer'/>
			  <form class='info_status'>

          <!-- Name -->
          <div style='display: inline-block;'>
            <label>Name</label>

            <!-- First -->
            <input id='patient-first-name' type='text' name='patient[]info[]firstname' style="width: 135px; text-transform:capitalize;" pattern='^[a-zA-Z]+$' maxlength='50' value='Steve Jobs'>

            <!-- Last -->
            <input id='patient-last-name' type='text' name='patient[]info[]lastname' style="width: 135px; text-transform:capitalize;" pattern='^[a-zA-Z]+$' maxlength='50' placeholder='Last'>
          </div>
          
          <!-- Gender -->
          <div style='display: inline-block; margin-left: 20px;'> 
            <label id='showcasetwo-gender-male' class="radio">
            <input type="radio" name="patient[]info[]gender" value="male" data-toggle="radio">Male</label>
          </div>

          <div style='display: inline-block;'>
            <label id='gender-female' class="radio">
            <input type="radio" name="patient[]info[]gender" value="female" data-toggle="radio">Female</label>
          </div>

          <!-- SSN -->
          <div style='display: inline-block;'>
            <label>Social Security #</label>
            <input class='SSN' type='text' name='patient[]info[]ssn' style="width: 108px;" pattern='^\d{3}\-\d{2}\-\d{4}$' maxlength='11' placeholder='###-##-####'>
          </div>

          <!-- DOB -->
          <div style='display: inline-block;'>
            <label>Date of Birth</label>
            <input class='DOB' type='text' name='patient[]info[]dob' style="width: 120px;" pattern='^\d{2}\/\d{2}\/\d{4}$' maxlength='10' placeholder='MM/DD/YYYY'>
          </div>

          <!-- Age -->
          <div style='display: inline-block;'>
            <label>Age</label>
            <input type='text' name='patient[]info[]age' style="width: 30px;" pattern='\d{1,3}' maxlength='3' placeholder='##'>
          </div>
          
          <div id='showcasetwo-maritalstatus' class='dropdown marital-status' style='width: 135px;'>
            <label id='marital_label'>Marital Status</label>
            <select id='showcasetwoselect' name="patient[]info[]maritalstatus" class="form-dropdown select-block mbl" style='display: inline-block'>
              <optgroup label="Marital Status">
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="separated">Separated</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
              </optgroup>
             </select>
          </div>
			  	
			  </form>
		  </div>
	  </div>
	</div>
</div>







<!-- 


<label>Contact Information</label><br />
          <input style="display: inline; width: 150px;" value="Name"><br />

          <input style="display: inline; width: 200px;" value="Street Address">
          <input style="display: inline; width: 50px;" value="City">
          <input style="display: inline; width: 50px;" value="State">
          <input style="display: inline; width: 50px;" value="Zip"><br />

          <input style="display: inline; width: 143px;" value="Email">
          <input style="display: inline; width: 150px;" value="Phone"><br />

          <label style='margin-top: 13px;'>Order Information</label><br />
          <input style="display: inline; width: 115px;" value="Product Number">
          <input style="display: inline; width: 180px;" value="Description">
          <input style="display: inline; margin-left: 40px; width: 60px;" value="Price">
          <input style="display: inline; width: 60px;" value="Amount"><br />
          <input style="display: inline; width: 115px;" value="Product Number">
          <input style="display: inline; width: 180px;" value="Description">
          <input style="display: inline; margin-left: 40px; width: 60px;" value="Price">
          <input style="display: inline; width: 60px;" value="Amount"><br />
          <input style="display: inline; width: 150px; margin-top: 14px;" value="Order Number"><span style='color: rgba(235, 46, 121, 0.8)'> - Go ahead and submit this form! --><!-- </span>
          <button class='btn btn-primary'>Submit</button> -->