<div id='showcase_three'>
	<i class='icon-laptop icon-large'></i>
	<h2>Your Competition has a Secret...</h2>
	<p>they're using custom built software to drive their business.</p>
	<br />
	<h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
	<div id='laptop_window'>

	</div>
</div>