<div id='showcase_three'>
	<i class='icon-th icon-large'></i>
	<h2>Simple, Business IT solutions,</h2>
	<p>that levergage people, not paper.</p>
	<br /><h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
    <div id='activate_laptop'></div>
    <div id='paperstack_img'>
    	<div id='laptop_img'>
        <div id='laptop_window_main'>
          <p id='laptop_header'>SimplizIT</p>
    
          <p id='laptop_bullet'>- Simple Business IT -</p>
        </div>
      </div>
      
      </div>
    </div>
</div>