<div id='showcase_one_spacer'>
  <div id='showcase_one'>
    <div id='showcase_one_header'>
  	  <i class='icon-bolt icon-large'></i>
  	  <h2>Harness the Power of Technology,</h2>
  		<p>by creating custom software tailored to every need.</p>
      <h4>— We like to call it being <span class='company_name'>SimplizIT</span> —</h4>
    </div>
    <div id='showcaseone-infodiv'>
      <p>"Data is a precious thing and will last longer than the systems themselves."</p>
      <p>- Tim Berners-Lee</p>
      <p>We at <span class='company_name'>SimplizIT</span> value information and </p>
    </div>
  </div>
</div>